<form class="deathwatch-actor-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Marine" /></h1>
  </header>

  <section class="sheet-body">
    <div class="grid grid-2col">
      {{#each system.stats as |stat key|}}
      <div class="resource">
        <label>{{key}} ({{lookup ../config.stats key}})</label>
        <input type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" />
      </div>
      {{/each}}
    </div>

    <hr />

    <div class="resources flexrow">
      <div>
        <label>Wounds</label>
        <input type="number" name="system.wounds.value" value="{{system.wounds.value}}" /> /
        <span>{{system.wounds.max}}</span>
      </div>
      <div>
        <label>Fatigue</label>
        <input type="number" name="system.fatigue.value" value="{{system.fatigue.value}}" />
      </div>
    </div>
  </section>
</form>
